*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex; height: 100vh; justify-content: center; align-items: center;
    background: linear-gradient(135deg, #51b7e8, #1b59b7);
}
.container{
    max-width: 700px; width: 100%; background: #fff; padding: 25px 30px; border-radius: 5px;
}
.container .title{
    font-size: 25px; font-weight: 500;
}
.container form .user-details{
    display: flex; flex-wrap: wrap; justify-content: space-between; margin: 15px 0 5px 0;
}
form .user-details .input-box{
    position: relative; margin-bottom: 20px; width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block; font-weight: 500; margin-bottom: 5px;
}
.user-details .input-box input{
    height: 40px; width: 100%; outline: none; border-radius: 5px;
    border: 1px solid #ccc; padding-left: 10px; font-size: 15px;
    border-bottom-width: 3px; transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #1b59b7;
}
form .gender-details .category{
    gap: 20px;
}
form .button{
    height: 45px;width: 100%; margin: 10px 0 15px 0;
}
form .button input{
    font-size: 18px; font-weight: 500;
    letter-spacing: 1px; color: #fff; width: 100%; height: 100%;
    border-radius: 5px; border: none;
    cursor: pointer; background: linear-gradient(135deg, #51b7e8, #1b59b7);
}
form .button input:hover{
    background: linear-gradient(-135deg, #51b7e8, #1b59b7);
}